{% extends 'base2.html' %}
{% block content %}
<div class="hp-container">
    <link rel="stylesheet"  type="text/css" href="{{url_for('static', filename='style.css')}}">
    <header class="hero-section">
        <div class="hero-text-container">
            <h1>Welcome to G1 Bank!</h1>
            <p>Your one-stop-shop for spending, saving, <br /> budgeting,investing, and much more.</p>
            <button>Get Started</button>
        </div>
        <div class="hero-img-container">
            <img src="static/img/G1Welcome.svg" alt="welcoming cat waves hello">
        </div>
    </header>
    <div class="body-container">
        <section class="why-us">
            <h1>Why choose G1 Bank?</h1>
            <p>
                We leverage open banking to turn your bank account into your financial hub. <br /> Control your finances like never before.
            </p>
        </section>
        <section class="features-section">
            <div class="feature-item">
                <img src="static/img/onlinebanking-icon.svg" alt="money">
                <h1>Online Banking</h1>
                <p>
                    Our modern web application <br/>allows you to keep track <br/>of your finances whenever<br/> and wherever you are in the world
                </p>
            </div>
            <div class="feature-item">
                <img src="static/img/budgeting-icon.svg" alt="money">
                <h1>Simple Banking</h1>
                <p>
                    See exactly where your money<br/> goes every month. Recieve <br/>notifications when you're <br/>close to hitting your limts.
                </p>
            </div>
            <div class="feature-item">
                <img src="static/img/secure-icon.svg" alt="money">
                <h1>Secure Banking</h1>
                <p>
                    Our website is designed with<br/> safety in mind. You can <br/>bank with us with the confidence<br/> your data will be secure.
                </p>
            </div>
            <div class="feature-item">
                <img src="static/img/reliable-icon.svg" alt="money">
                <h1>Reliable Banking</h1>
                <p>
                    To allow you to bank whenever<br/> you want, we take great <br/>pride in our system's reliability.<br/> Our website will always be there for you.
                </p>
            </div>
        </section>
    </div>
</div>
{% endblock %}