{% extends 'base2.html' %}
{% block content %}
<h2>Register</h2>
<br>
<hr>
<div class="container">
    <!-- this form based on a template from https://getbootstrap.com/docs/5.3/forms -->
    <form action='/register' method='POST'>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input type="text" class="form-control" name="username" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div class="form-text">Enter a username.</div>
        </div>

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1">
        </div>
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName" required><br><br>
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName" required><br><br>
        <input type="submit" value="Register">
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}